.button{
    background-color: #ED6B86; 
    color: black;
    text-align: center;
    font-size: large;
    border-radius: 17px;
    border-style:hidden;
    display: inline;
    float: right;
    height: 45px;
    width: 150px;
    
   }


 .cvform{
    background-color:#BAACBD;
    color: black;
    border-style: hidden;
    border-color: #000;
    ;


 }

 .head{
    border-style:solid;
    border: color #000;
    width: 250px;
    
 }

 .Content{
  
  display: block;
   width: 675px;
   height: 225px;
  padding-right: 25px;
  border-style:solid;
  border-color: #8FB339;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  background-color: #fff;
  border-width: 1px;
  margin-right: 50px;
  margin-left: 365px;
  margin-top: 125px;
  
 }
#s2,#s3{
  display: none;
}

#s2{
  margin-left: 500px;
  width: 475px;
  height: 285px;
  min-height: 155px;
  
}
#f2{
  padding-left: 1px;
  padding-top: 15px;
  
}

#f3{
  padding-top: 15px;
  padding-left: 1px;
}

#formm3{
  margin-left: 1px;
}

#formm2{
  margin-left: 1px;
  padding-left: 105px;
  padding-top: 10px;
}

#s3{

  margin-left: 500px;
  width: 475px;
  height: 175px;
  
}

#bnext3,#bnext2{
  display: block;
  margin-bottom: 200px;
  margin-left: 490px;
}

#bnext3{
  margin-top: 25px;
}

#txts2{
  display: block;
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
  position: absolute;
  top: 333px;
  left: 630px;
}
#duties{

  display: block;
  width: 158px;
  min-height: 63px;
  max-width: 297px;
  max-height: 100px;
  margin-left: 87.8px;
}



 .hut{
 margin: 0;
 height: 36px;
 width: 200px; 

 font-size: 1.5em;
 margin-block-start: 0.1em;
 margin-block-end: 0.1em;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
font-weight: bold;
 }

 .txt{
   text-align: left;
   font-size: 18px;
   text-decoration: solid;
   font-weight: bold;
   
 }

 .ico{
   display: inline-block;
   width: 35px;
   text-align: center;
   font-weight: 900;
   background-color: #ED6B86;
   border-radius: 50%;
   border-width: 5px;
   padding: 2px 1px 1px;
 }

 .bnext{
   margin-right: 125px;
   
 }
 .form1{
   padding-left: 150px;
   display: block;
   float:inline-start;
   border-left-width: 45px;

 }

 #bs3,#bs2{
  width:140px;
  height:35px;
 }
 #bs2{
  position: absolute;
  left: 870px;
  bottom: 250px;
 }
 #tarea{
  height: fit-content;
 }

